body{
    justify-content: center;
    align-items: center;
    display: flex;
    /* overflow: hidden; */
    background-color: #e7b87a;
}

.bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('bg (2).jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
    z-index: -1;
}

.main{
    position: absolute;
    /* background-color: #ffffff36; */
    width: auto;
    height: auto;
    top: 0%;
    bottom: 0%;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 2%;
    gap: 5px;
    transition: all 0.5s ease-in-out;
}

.coverElements{
    position: relative;
    /* background-color: #ffffff49; */
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;

}
#cover{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    box-shadow: 0 4px 19px rgba(0, 0, 0, 0.568);
    user-select: none;
}
#coverName{
    position: relative;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    font-family: Quicksand;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time{
    width: 800px;
    position: relative;
    padding: 0;
}
.timeDisplay{
    position: relative;
    /* background-color: #fff; */
    width: 800;
    bottom: 18.5%;
    right: 0;
    left: 0;
    display: flex;
    /* bottom: 20%; */
    justify-content: center;
    gap: 20px;
    /* border: 1px solid; */
}

#currentTimeDisplay{
    position: relative;
    font-family: "Josefin Sans";
}
#progressBar {
    width: 600px;
    height: 6px;
    appearance: none;
    background: #ccc;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    top: 4px;
}
#progressBar::-webkit-slider-thumb {
    appearance: none;
    width: 10px;
    height: 6px;
    background: #333;
    border-radius: 50px;
}
#durationTimeDisplay{
    position: relative;
    font-family: "Josefin Sans";
}

.controlPanel{
    position: relative;
    width: auto;
    display: flex;
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* border: 1px solid; */
}

.volume-container {
    position: relative;
  display: inline-block;
  justify-content: center;
  align-items: center;
}
#volumeButton{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background: none;
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b60b0b44;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 4px 3px 13px rgba(0, 0, 0, 0.473),
    inset -4px -3px 13px rgba(255, 223, 223, 0.37),
    inset 4px 3px 13px rgba(0, 0, 0, 0.26),
    -4px -3px 13px rgba(255, 235, 235, 0.301);
    transition: background-color 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;
}
#volumeButton:hover{
    background-color: #b60b0b9f;
}
#volumeSlider {
  display: none;
  position: absolute;
  right: 72%;
  bottom: 42%;
  transform: translateX(-50%);
  width: 80px;
  appearance: none;
  height: 6px;
  background: #ddd;
  border-radius: 3px;
  cursor: pointer;
}
#volumeSlider::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background: #db1717;
  border-radius: 50%;
}

.play{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: none; */
    /* border: 1px solid black; */
    padding: 4px;
    cursor: pointer;
    background: #b60b0b44;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 4px 3px 13px rgba(0, 0, 0, 0.473),
    inset -4px -3px 13px rgba(255, 223, 223, 0.37),
    inset 4px 3px 13px rgba(0, 0, 0, 0.26),
    -4px -3px 13px rgba(255, 235, 235, 0.301);
    transition: background-color 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;
}
.play:hover{
    background-color: #b60b0b9f;
}

.back{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b60b0b44;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 4px 3px 13px rgba(0, 0, 0, 0.473),
    inset -4px -3px 13px rgba(255, 223, 223, 0.37),
    inset 4px 3px 13px rgba(0, 0, 0, 0.26),
    -4px -3px 13px rgba(255, 235, 235, 0.301);
    transition: background-color 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;
}
.back:hover{
    background-color: #b60b0b9f;
}

.next{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b60b0b44;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 4px 3px 13px rgba(0, 0, 0, 0.473),
    inset -4px -3px 13px rgba(255, 223, 223, 0.37),
    inset 4px 3px 13px rgba(0, 0, 0, 0.26),
    -4px -3px 13px rgba(255, 235, 235, 0.301);
    transition: background-color 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;
}
.next:hover{
    background-color: #b60b0b9f;
}

.loop{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: none;
    background: none;
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b60b0b44;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow: 4px 3px 13px rgba(0, 0, 0, 0.473),
    inset -4px -3px 13px rgba(255, 223, 223, 0.37),
    inset 4px 3px 13px rgba(0, 0, 0, 0.26),
    -4px -3px 13px rgba(255, 235, 235, 0.301);
    transition: background-color 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;
}
.loop:hover{
    background-color: #b60b0b9f;
}

.songList{
    position: absolute;
    transform: translateX(-400px);
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 100%;
    background: #db17171a;
    gap: 10px;
    top: 0%;
    left: 0%;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}


.song-item {
    display: flex;
    align-items: center;
    width: 380px;
    gap: 10px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    background: #b60b0b41;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.song-item img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    object-fit: cover;
    border: 1px solid #ffffff;
    user-select: none;
}

.song-item span {
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    color: #000000 ;
}

.song-item.active {
    background-color: #b60b0b70;
    border: 2px solid #ff0000;
}

.song-item:hover {
    background-color: #b60b0b9f;
}

.menu{
    position: absolute;
    left: 0;
    top: 0;
    margin: 2%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    z-index: 9;
}